<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete product</title>
</head>
<body>
<h1>Delete product</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/products">Product list</a>
</p>
<form th:action="@{/delete-product}" th:object="${product}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">

    <table>
        <tr>
            <td>Tên Hàng:</td>
            <td th:text="${product.tenHang}"></td>
        </tr>
        <tr>
            <td>Loại hàng:</td>
            <td th:text="${product.category.loaiHang}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete product"></td>
        </tr>
    </table>
</form>
</body>
</html>